In [ ]:
# ESERCIZIO 1

In [21]:
# Individuiamo tre task di qualsiasi tipo (fare la spesa, studiare un concetto, riempire il serbatoio dell'auto, acquistare uno  snack da un distributore automatico, o qualunque altra cosa);


# FARE LA SPESA
# avere soldi
# andare al supermercato
# prendere gli oggetti
# pagare l'importo dovuto


# RIEMPIRE IL SERBATOIO DELL'AUTO
# andare al benzinaio
# aprire il serbatoio
# selezionare l'importo da versare
# pagare
# selezionare la pompa
# prendere la pompa
# versare il contenuto nel serbatoio

# ACQUISTARE UNO SNACK DA UN DISTRIBUTORE AUTOMATICO
# arrivare al distributore
# individuare il numero corrispondente dello snack
# versare l'importo corrispondente
# prelevare lo snack
# prelevare l'eventuale resto

In [ ]:
# ESERCIZIO 2

In [ ]:
# Abbiamo 25 studenti; memorizzare questo dato in una variabile.

In [ ]:
studenti = 25

In [ ]:
# ESERCIZIO 3

In [ ]:
# Esercizio Abbiamo 25 studenti; memorizzare questo dato in una variabile e stamparla a video.

In [45]:
studenti = 25

In [47]:
print (studenti)

25

In [ ]:
# ESERCIZIO 4 - 5

In [ ]:
# Abbiamo 25 studenti; memorizzare questo dato in una variabile. Arrivano altri 3 studenti; memorizzare questo dato in un'altra variabile. Creare un'altra variabile ancora che conterrà la somma delle prime due, poi stamparla a video.

In [49]:
studenti= 25
nuovi_studenti = 3

In [51]:
studenti_totali = studenti + nuovi_studenti

In [53]:
print (studenti_totali)

28

In [ ]:
# ESERCIZIO 6

In [ ]:
# Creare una variabile che contiene la stringa "Epicode", quindi stamparla a video.

In [59]:
nome_scuola ='EPICODE'

In [61]:
print(nome_scuola)

EPICODE

In [ ]:
# ESERCIZIO 7

In [ ]:
# Abbiamo la variabile: x = 10 Incrementarla di 2 e poi moltiplicarla per 3 Usare due metodi diversi (ad esempio, uno utilizzando gli operatori di assegnazione, e uno senza)

In [70]:
x = 10
x += 2
x *= 3
print (x)

36

In [72]:
x = 10
x = (x+2)*3
print (x)

36

In [ ]:
#ESERCIZIO 8

In [ ]:
# Verificare, per ognuna delle seguenti stringhe, se il numero di caratteri è compreso tra 5 e 8: • str1 = "Windows" • str2 = "Excel" • str3 = "Powerpoint" • str4 = "Word"

In [76]:
str1 = "windows"
len (str1)

7

In [78]:
str2 = "Excel"
len (str2)

5

In [80]:
str3 = "Powerpoint"
len (str3)

10

In [82]:
str4 = "Word"
len (str4)

4

In [ ]:
# ESERCIZIO 9

In [ ]:
# Calcolare e stampare a video quanti secondi ci sono in un anno non bisestile.

In [86]:
giorni = 365
ore_giorno=24
minuti_ora=60
secondi_minuto=60
secondi_anno=giorni*ore_giorno*minuti_ora*secondi_minuto
print(secondi_anno)

31536000