In [337]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\leo\anaconda3\lib\site-packages (1.1.1)Note: you may need to restart the kernel to use updated packages.

In [339]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\leo\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\leo\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\leo\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [341]:
pip install python_dotenv

Requirement already satisfied: python_dotenv in c:\users\leo\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [343]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

dotenv.load_dotenv(override=True)
dotenv_path=".env"

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")


conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [343]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

dotenv.load_dotenv(override=True)
dotenv_path=".env"

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")


conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

query = "SELECT * FROM dimproduct"
df = pd.read_sql(sql=query, con=db_engine)

In [345]:
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [347]:
#Quanti dati ci sono in totale?
totale_dati=df.shape[0]
print(f"il numero totale dei dati è:{totale_dati}")

il numero totale dei dati è:606

In [349]:
#Quali sono i metadati?
metadati=df.dtypes
print("i metadati per colonna sono:")
print(metadati)

i metadati per colonna sono:
ProductKey                        int64
ProductAlternateKey              object
ProductSubcategoryKey           float64
WeightUnitMeasureCode            object
SizeUnitMeasureCode              object
EnglishProductName               object
SpanishProductName               object
FrenchProductName                object
StandardCost                    float64
FinishedGoodsFlag                 int64
Color                            object
SafetyStockLevel                  int64
ReorderPoint                      int64
ListPrice                       float64
Size                             object
SizeRange                        object
Weight                          float64
DaysToManufacture                 int64
ProductLine                      object
DealerPrice                     float64
Class                            object
Style                            object
ModelName                        object
LargePhoto                       object
EnglishDescription               object
FrenchDescription                object
ChineseDescription               object
ArabicDescription                object
HebrewDescription                object
ThaiDescription                  object
GermanDescription                object
JapaneseDescription              object
TurkishDescription               object
StartDate                datetime64[ns]
EndDate                  datetime64[ns]
Status                           object
dtype: object

In [353]:
#Stampiamo il primo elemento
primo_elemento=df.loc[1]
print("il primo elemento è:")
print(primo_elemento)

il primo elemento è:
ProductKey                                                               2
ProductAlternateKey                                                BA-8327
ProductSubcategoryKey                                                  NaN
WeightUnitMeasureCode                                                 None
SizeUnitMeasureCode                                                   None
EnglishProductName                                            Bearing Ball
SpanishProductName
FrenchProductName
StandardCost                                                           NaN
FinishedGoodsFlag                                                        0
Color                                                                   NA
SafetyStockLevel                                                      1000
ReorderPoint                                                           750
ListPrice                                                              NaN
Size                                                                  None
SizeRange                                                               NA
Weight                                                                 NaN
DaysToManufacture                                                        0
ProductLine                                                           None
DealerPrice                                                            NaN
Class                                                                 None
Style                                                                 None
ModelName                                                             None
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
EnglishDescription                                                    None
FrenchDescription                                                     None
ChineseDescription                                                    None
ArabicDescription                                                     None
HebrewDescription                                                     None
ThaiDescription                                                       None
GermanDescription                                                     None
JapaneseDescription                                                   None
TurkishDescription                                                    None
StartDate                                              2003-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 1, dtype: object

In [51]:
#Stampiamo l'ultimo elemento
ultimo_elemento = df.iloc[-1]
print("l'ltimo elemento è:")
print(ultimo_elemento)

l'ltimo elemento è:
ProductKey                                                             606
ProductAlternateKey                                             BK-R19B-52
ProductSubcategoryKey                                                  2.0
WeightUnitMeasureCode                                                   LB
SizeUnitMeasureCode                                                     CM
EnglishProductName                                      Road-750 Black, 52
SpanishProductName                               Carretera: 750, negra, 52
FrenchProductName                               Vélo de route 750 noir, 52
StandardCost                                                        343.65
FinishedGoodsFlag                                                        1
Color                                                                Black
SafetyStockLevel                                                       100
ReorderPoint                                                            75
ListPrice                                                           539.99
Size                                                                    52
SizeRange                                                         48-52 CM
Weight                                                               20.42
DaysToManufacture                                                        4
ProductLine                                                              R
DealerPrice                                                        323.994
Class                                                                    L
Style                                                                    U
ModelName                                                         Road-750
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x8avw\xf7...
EnglishDescription       Entry level adult bike; offers a comfortable r...
FrenchDescription        Vélo d'adulte d'entrée de gamme ; permet une c...
ChineseDescription                       入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
ArabicDescription        إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
HebrewDescription        אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
ThaiDescription          จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
GermanDescription        Ein Erwachsenenrad für Einsteiger; bietet Komf...
JapaneseDescription      エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
TurkishDescription       "Başlangıç seviyesinde yetişkin bisikleti, kır...
StartDate                                              2013-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 605, dtype: object

In [66]:
#Riusciamo a stampare cinque elementi a caso?
cinque_righe_casuali=df.sample(5)
print("prendiamo 5 riche casuali:")
print(cinque_righe_casuali)

prendiamo 5 riche casuali:
     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
101         102             LJ-1220                    NaN
84           85             LE-1400                    NaN
4             5             BL-2036                    NaN
492         493          FR-T67Y-62                   16.0
479         480             PK-7098                   37.0

    WeightUnitMeasureCode SizeUnitMeasureCode             EnglishProductName  \
101                  None                None           Thin-Jam Lock Nut 10
84                   None                None         External Lock Washer 5
4                    None                None                          Blade
492                    LB                  CM  LL Touring Frame - Yellow, 62
479                  None                None            Patch Kit/8 Patches

                   SpanishProductName  \
101
84
4
492  Cuadro de paseo GB: amarillo, 62
479

                             FrenchProductName  StandardCost  \
101                                                      NaN
84                                                       NaN
4                                                        NaN
492  Cadre de vélo de randonnée LL - jaune, 62        199.85
479                                                     0.86

     FinishedGoodsFlag  ...                           ChineseDescription  \
101                  0  ...                                         None
84                   0  ...                                         None
4                    0  ...                                         None
492                  1  ...  轻型一体式铝制车架，可以更直立的骑乘姿势进行环城游。我们开创性的设计提供了最佳舒适度。
479                  1  ...                           包括八种不同尺寸的补片、胶水和砂纸。

                                     ArabicDescription  \
101                                               None
84                                                None
4                                                 None
492  يوفر هيكل الألومنيوم سميك الأطراف خفيف الوزن و...
479  تشمل 8 رقع لصق مختلفة الحجم، ومادة غروية لاصقة...

                                     HebrewDescription  \
101                                               None
84                                                None
4                                                 None
492  מסגרת קלת משקל מאלומיניום חרוץ מספקת תנוחת רכי...
479       כולל 8 טלאים בגדלים שונים, דבק ונייר זכוכית.

                                       ThaiDescription  \
101                                               None
84                                                None
4                                                 None
492  เฟรมอลูมิเนียมน้ำหนักเบา ทำให้ท่วงท่าในการขับข...
479       ประกอบด้วยแผ่นปะยาง 8 ขนาด กาว และกระดาษทราย

                                     GermanDescription  \
101                                               None
84                                                None
4                                                 None
492  Leichter Aluminiumrahmen für aufrechte Sitzhal...
479  "Enthält Flicken in 8 verschiedenen Größen, Kl...

                                   JapaneseDescription  \
101                                               None
84                                                None
4                                                 None
492  軽量接合アルミニウム フレームにより、街乗りに適したアップライトなライディング ポジションを...
479               8 種類の異なるサイズのパッチ、糊、およびサンド ペーパーが含まれます。

                                    TurkishDescription  StartDate EndDate  \
101                                               None 2003-07-01     NaT
84                                                None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
492  "Hafif alüminyum kadrosu, şehirde yaptığınız y... 2013-07-01     NaT
479  "8 farklı boyda yama, yapışkan ve zımpara kağı... 2013-07-01     NaT

      Status
101  Current
84   Current
4    Current
492  Current
479  Current

[5 rows x 36 columns]

In [77]:
# Quali sono i colori disponibili?
colori_disponibili = df['Color'].dropna().unique()
print("Colori disponibili:")
print(colori_disponibili)

Colori disponibili:
['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [89]:
#In media quanto pesano i prodotti?
peso_prodotti=df["Weight"].mean()
print(f"il peso medio dei prodotti è pari a:{peso_prodotti}")

il peso medio dei prodotti è pari a:56.1932269503546

In [91]:
#Quanto pesa il più leggero?
prodotto_piu_leggero=df["Weight"].min()
print(f"il prodotto più leggero pesa:{prodotto_piu_leggero}")

il prodotto più leggero pesa:2.12

In [17]:
#Quanto pesa il più pesante?
prodotto_piu_pesante=df["Weight"].max()
print(f"il prodotto più pesante ha un peso di:{prodotto_piu_pesante}")

il prodotto più pesante ha un peso di:1050.0

In [34]:
#Quanti prodotti pesano più di 100 Kg?
conteggio_maggiore_100=df[df["Weight"]>100].shape[0]
print(f"il numero di prodotti che pesano più di 100 kg è pari a:{conteggio_maggiore_100}")

il numero di prodotti che pesano più di 100 kg è pari a:28

In [36]:
#Quanto costano in media i prodotti (colonna DealerPrice)?
costo_medio_prodotti=df["DealerPrice"].mean()
print(f"il costo medio dei prodotti è pari a :{costo_medio_prodotti}")

il costo medio dei prodotti è pari a :448.5970597468353

In [42]:
#Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo?
df_ordinato = df.sort_values(by='DealerPrice', ascending=False)
num_prodotti_quarto = len(df) // 4
prodotti_quarto = df_ordinato.head(num_prodotti_quarto)
prezzo_minimo_quarto = prodotti_quarto['DealerPrice'].min()
prezzo_massimo_quarto = prodotti_quarto['DealerPrice'].max()
print(f"il range di prezzo richiesto varierà tra {prezzo_minimo_quarto} e {prezzo_massimo_quarto} ")

il range di prezzo richiesto varierà tra 445.41 e 2146.962

In [77]:
#Qual è il prezzo medio per i prodotti di colore blu?
prezzo_medio_blu=df[df['Color']=="Blue"]['DealerPrice'].mean()
print(f"il prezzo medio dei prodotti di colore blu è pari a:{prezzo_medio_blu}")

il prezzo medio dei prodotti di colore blu è pari a:516.0631785714286

In [82]:
#Qual è il prezzo medio per i prodotti di colore rosso o nero?
prezzo_medio_rosso_nero=df[df['Color'].isin(['Red', 'Black'])]['DealerPrice'].mean()
print(f"Prezzo medio per i prodotti di colore rosso o nero: {prezzo_medio_rosso_nero}")

Prezzo medio per i prodotti di colore rosso o nero: 550.2481873684211

In [89]:
#Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
prezzo_medio=df[(df['Size'] == '42') & (df['Weight'] > 10)]['DealerPrice'].max()
print(f"il prezzo massimo per i prodotti di taglia 42 e di peso maggiore ai 10 kg è pari a:{prezzo_medio}")

il prezzo massimo per i prodotti di taglia 42 e di peso maggiore ai 10 kg è pari a:2039.994

In [94]:
#Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg e colore argento?
x=df[(df['Size'] == '42') & (df['Weight'] > 10) & (df['Color'] == 'Silver')][['EnglishProductName', 'StandardCost']]
print("il nome in inglese e il costo di produzione per i prodotti con le caratteristiche indicate sono:")
print(x)

il nome in inglese e il costo di produzione per i prodotti con le caratteristiche indicate sono:
            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22

In [102]:
#Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: c'è un pattern? C'è qualche elemento che non lo segue?
ultimi_20_elementi = df.tail(20)
ultimi_20_elementi['Differenza'] = ultimi_20_elementi['DealerPrice'] - ultimi_20_elementi['StandardCost']

print("Differenza tra StandardCost e DealerPrice degli ultimi 20 elementi:")
print(ultimi_20_elementi[['DealerPrice', 'StandardCost', 'Differenza']])

Differenza tra StandardCost e DealerPrice degli ultimi 20 elementi:
     DealerPrice  StandardCost  Differenza
586      461.694        419.78      41.914
587      461.694        419.78      41.914
588      461.694        419.78      41.914
589      461.694        419.78      41.914
590      338.994        308.22      30.774
591      338.994        308.22      30.774
592      338.994        308.22      30.774
593      338.994        308.22      30.774
594      338.994        308.22      30.774
595      323.994        294.58      29.414
596      323.994        294.58      29.414
597      323.994        294.58      29.414
598      323.994        294.58      29.414
599      323.994        294.58      29.414
600       32.394         23.97       8.424
601       60.744         44.95      15.794
602       72.894         53.94      18.954
603      323.994        343.65     -19.656
604      323.994        343.65     -19.656
605      323.994        343.65     -19.656

C:\Users\Leo\AppData\Local\Temp\ipykernel_8500\209664635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ultimi_20_elementi['Differenza'] = ultimi_20_elementi['DealerPrice'] - ultimi_20_elementi['StandardCost']

In [141]:
import pandas as pd

In [164]:
# Caricare il dataset
filepath = r'C:\Users\Leo\Desktop\EPICODE\3_PYTHON\W14D05\beginner_datasets\amazon.csv'
df = pd.read_csv(filepath)

In [166]:
#Valutiamo la dimensione del dataset 
dimensioni_dataset=df.shape
print("le dimensioni del dataset sono indicate dai seguenti parametri")
print(dimensioni_dataset)

le dimensioni del dataset sono indicate dai seguenti parametri
(20000, 2)

In [168]:
#Visualizziamo dieci righe a caso;
df.sample(10)

                                              reviewText  Positive
6876   this is a good app for those that like astrolo...         1
19895  ...my farm is my "get-a-way"...i spend hours "...         1
18493  So, I downloaded it because my cousin wanted t...         0
11928  works really great on the kindle fire wakes yo...         1
5071   I love this app. It made travel easier and my ...         1
4751   I wouldn't pay $2.50 for this... $.99 seems mo...         1
11909  I've been using this app for about a year now....         1
16217  worth getting. very useful. helps to have a st...         1
19943  I love taking care of my farm  with  all  my a...         1
11438  When I opened this game Honeycomb's zoom compa...         0

In [170]:
#Osserviamo quali sono i nomi di colonna;
df.columns.tolist()

['reviewText', 'Positive']

In [172]:
#Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?
positive_reviews = df[df['Positive'] == 1].shape[0]
negative_reviews = df[df['Positive'] == 0].shape[0]
is_balanced = positive_reviews == negative_reviews

print("Recensioni positive:", positive_reviews)
print("Recensioni negative:", negative_reviews)
print("Il dataset è bilanciato:", is_balanced)

Recensioni positive: 15233
Recensioni negative: 4767
Il dataset è bilanciato: False

In [178]:
#accesso al dataset diabetes.csv
import pandas as pd
filepath=r"C:\Users\Leo\Desktop\EPICODE\3_PYTHON\W14D05\beginner_datasets\diabetes.csv"
df=pd.read_csv(filepath)

In [183]:
#Osserviamone le dimensioni e un'anteprima di cinque righe;
print(df.shape)
df.sample(5)

(768, 9)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
156,2,99,52,15,94,24.6,0.637,21,0
646,1,167,74,17,144,23.4,0.447,33,1
484,0,145,0,0,0,44.2,0.630,31,1
332,1,180,0,0,0,43.3,0.282,41,1
286,5,155,84,44,545,38.7,0.619,34,0

In [187]:
#Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne;
df.columns.tolist()

['Number of times pregnant',
 'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
 'Diastolic blood pressure (mm Hg)',
 'Triceps skin fold thickness (mm)',
 '2-Hour serum insulin (mu U/ml)',
 'Body mass index (weight in kg/(height in m)^2)',
 'Diabetes pedigree function',
 'Age (years)',
 'Class variable']

In [191]:
#Stampiamo dei descrittori statistici del dataset;
df.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [198]:
#Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50;
bins = [0, 20, 30, 40, 50, float('inf')]
labels = ['<20', '20-30', '30-40', '40-50', '>50']
df['Age Group'] = pd.cut(df['Age (years)'], bins=bins, labels=labels, right=False)
print(df['Age Group'])

0        >50
1      30-40
2      30-40
3      20-30
4      30-40
       ...
763      >50
764    20-30
765    30-40
766    40-50
767    20-30
Name: Age Group, Length: 768, dtype: category
Categories (5, object): ['<20' < '20-30' < '30-40' < '40-50' < '>50']

In [210]:
#Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
media_PD=df.groupby('Age Group')['Diastolic blood pressure (mm Hg)'].mean()
print(media_PD)

Age Group
<20            NaN
20-30    65.348485
30-40    69.666667
40-50    73.940678
>50      78.370787
Name: Diastolic blood pressure (mm Hg), dtype: float64

C:\Users\Leo\AppData\Local\Temp\ipykernel_8500\1032023175.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  media_PD=df.groupby('Age Group')['Diastolic blood pressure (mm Hg)'].mean()

In [213]:
#media pressione per ogni singolo anno di età
MEDIA_PD_ETA=df.groupby("Age (years)")['Diastolic blood pressure (mm Hg)'].mean()
print(MEDIA_PD_ETA)

Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64

In [216]:
#accesso al dataset insurance.csv
import pandas as pd
filepath=r"C:\Users\Leo\Desktop\EPICODE\3_PYTHON\W14D05\beginner_datasets\insurance.csv"
df=pd.read_csv(filepath)

In [227]:
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
dimensions = df.shape
preview = df.head()
column_names = df.columns.tolist()

print("Dimensions:", dimensions)
print("Preview of first five rows:\n", preview)
print("Column names:", column_names)

Dimensions: (1338, 7)
Preview of first five rows:
    age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
Column names: ['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']

In [230]:
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?
media_charges_r=df.groupby('region')["charges"].mean()
print(media_charges)

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [240]:
#E rispetto a smoker? E a sex?
media_charges_s=df.groupby('smoker')["charges"].mean()
print(media_charges_s)

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [242]:
media_charges_sex=df.groupby('sex')["charges"].mean()
print(media_charges_sex)

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [247]:
#Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [250]:
quartiles = pd.qcut(df['bmi'], 4)
charges_by_bmi_quartiles = df.groupby(quartiles)['charges'].agg(['min', 'mean', 'max'])
print("Charges by BMI quartiles:\n", charges_by_bmi_quartiles)

Charges by BMI quartiles:
                                     min          mean          max
bmi
(15.959000000000001, 26.296]  1121.8739  10360.662825  38245.59327
(26.296, 30.4]                1131.5066  11407.831468  62592.87309
(30.4, 34.694]                1135.9407  14358.173081  60021.39897
(34.694, 53.13]               1141.4451  16987.936691  63770.42801

C:\Users\Leo\AppData\Local\Temp\ipykernel_8500\2125965824.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  charges_by_bmi_quartiles = df.groupby(quartiles)['charges'].agg(['min', 'mean', 'max'])

In [254]:
#carico il dataset pokemon.csv
import pandas as pd
filepath=filepath=r"C:\Users\Leo\Desktop\EPICODE\3_PYTHON\W14D05\beginner_datasets\pokemon.csv"
df=pd.read_csv(filepath)

In [266]:
#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
dimensioni=df.shape
print(dimensioni)

(800, 13)

In [268]:
anteprima=df.head()
print(anteprima)

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

In [270]:
colonne=df.columns
print(colonne)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [277]:
#È verosimile che la prima colonna dovrebbe essere un indice? Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
prima_colonna =df['#']
indice_automatico = df.index

In [280]:
combaciano = prima_colonna.equals(indice_automatico)
print("Combaciano:", combaciano)

Combaciano: False

In [285]:
#Se no, settare la prima colonna come indice.
if not combaciano:
    df.set_index('#', inplace=True)

In [299]:
#Quali sono i Pokémon leggendari?
pokemon_leggendari = df[df['Legendary'] == True]
print(pokemon_leggendari)

                    Name    Type 1    Type 2  Total   HP  Attack  Defense  \
#
144             Articuno       Ice    Flying    580   90      85      100
145               Zapdos  Electric    Flying    580   90      90       85
146              Moltres      Fire    Flying    580   90     100       90
150               Mewtwo   Psychic       NaN    680  106     110       90
150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190      100
..                   ...       ...       ...    ...  ...     ...      ...
719              Diancie      Rock     Fairy    600   50     100      150
719  DiancieMega Diancie      Rock     Fairy    700   50     160      110
720  HoopaHoopa Confined   Psychic     Ghost    600   80     110       60
720   HoopaHoopa Unbound   Psychic      Dark    680   80     160       60
721            Volcanion      Fire     Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
144       95      125     85           1       True
145      125       90    100           1       True
146      125       85     90           1       True
150      154       90    130           1       True
150      154      100    130           1       True
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[65 rows x 12 columns]

In [302]:
#E quali sono i leggendari di tipo 1 Grass?
leggendati_grass=df[(df["Legendary"]==True)&(df["Type 1"]=="Grass")]
print(leggendati_grass)

                  Name Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
#
492  ShayminLand Forme  Grass       NaN    600  100     100      100      100
492   ShayminSky Forme  Grass    Flying    600  100     103       75      120
640           Virizion  Grass  Fighting    580   91      90       72       90

     Sp. Def  Speed  Generation  Legendary
#
492      100    100           4       True
492       75    127           4       True
640      129    108           5       True

In [311]:
#E leggendari di tipo 1 Ice o Fire?
leggendati_condizioni=df[(df["Legendary"]==True)&(df["Type 1"].isin(["Ice","Fire"]))]
print(leggendati_condizioni)

          Name Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  \
#
144   Articuno    Ice  Flying    580   90      85      100       95      125
146    Moltres   Fire  Flying    580   90     100       90      125       85
244      Entei   Fire     NaN    580  115     115       85       90       75
250      Ho-oh   Fire  Flying    680  106     130       90      110      154
378     Regice    Ice     NaN    580   80      50      100      100      200
485    Heatran   Fire   Steel    600   91      90      106      130      106
721  Volcanion   Fire   Water    600   80     110      120      130       90

     Speed  Generation  Legendary
#
144     85           1       True
146     90           1       True
244    100           2       True
250     90           2       True
378     50           3       True
485     77           4       True
721     70           6       True

In [314]:
#Ordiniamo il dataset per la colonna Name;
ordine_name=df.sort_values(by='Name')

In [317]:
#Trasformiamo Name nell'indice;
df.set_index('Name', inplace=True)

In [331]:
#Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
prima_gen_attacco_hp = ordine_name[(ordine_name['Generation'] == 1)&(ordine_name['Attack'] > 50)&(ordine_name['HP'] < 60)]
print(prima_gen_attacco_hp)

           Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
#
69   Bellsprout     Grass  Poison    300  50      75       35       70
4    Charmander      Fire     NaN    309  39      52       43       60
5    Charmeleon      Fire     NaN    405  58      64       58       80
91     Cloyster     Water     Ice    525  50      95      180       85
50      Diglett    Ground     NaN    265  10      55       25       35
84        Doduo    Normal  Flying    310  35      85       45       35
147     Dratini    Dragon     NaN    300  41      64       45       50
51      Dugtrio    Ground     NaN    405  35      80       50       50
133       Eevee    Normal     NaN    325  55      55       50       45
23        Ekans    Poison     NaN    288  35      60       44       40
83   Farfetch'd    Normal  Flying    352  52      65       55       58
74      Geodude      Rock  Ground    300  40      80      100       30
118     Goldeen     Water     NaN    320  45      67       60       35
75     Graveler      Rock  Ground    390  55      95      115       45
58    Growlithe      Fire     NaN    350  55      70       45       70
107  Hitmonchan  Fighting     NaN    455  50     105       79       35
106   Hitmonlee  Fighting     NaN    455  50     120       53       35
140      Kabuto      Rock   Water    355  30      80       90       55
99      Kingler     Water     NaN    475  55     130      115       50
109     Koffing    Poison     NaN    340  40      65       95       60
98       Krabby     Water     NaN    325  30     105       90       25
82     Magneton  Electric   Steel    465  50      60       95      120
56       Mankey  Fighting     NaN    305  40      80       35       35
32     Nidoran♂    Poison     NaN    273  46      57       40       40
46        Paras       Bug   Grass    285  35      70       55       45
25      Pikachu  Electric     NaN    320  35      55       40       50
77       Ponyta      Fire     NaN    410  50      85       55       65
54      Psyduck     Water     NaN    320  50      52       48       65
20     Raticate    Normal     NaN    413  55      81       60       50
19      Rattata    Normal     NaN    253  30      56       35       25
27    Sandshrew    Ground     NaN    300  50      75       85       20
117      Seadra     Water     NaN    440  55      65       95       95
90     Shellder     Water     NaN    305  30      65      100       45
21      Spearow    Normal  Flying    262  40      60       30       31
8     Wartortle     Water     NaN    405  59      63       80       65

     Sp. Def  Speed  Generation  Legendary
#
69        30     40           1      False
4         50     65           1      False
5         65     80           1      False
91        45     70           1      False
50        45     95           1      False
84        35     75           1      False
147       50     50           1      False
51        70    120           1      False
133       65     55           1      False
23        54     55           1      False
83        62     60           1      False
74        30     20           1      False
118       50     63           1      False
75        45     35           1      False
58        50     60           1      False
107      110     76           1      False
106      110     87           1      False
140       45     55           1      False
99        50     75           1      False
109       45     35           1      False
98        25     50           1      False
82        70     70           1      False
56        45     70           1      False
32        40     50           1      False
46        55     25           1      False
25        50     90           1      False
77        65     90           1      False
54        50     55           1      False
20        70     97           1      False
19        35     72           1      False
27        30     40           1      False
117       45     85           1      False
90        25     40           1      False
21        31     70           1      False
8         80     58           1      False