In [ ]:
#ESERCIZIO 1

In [3]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [7]:
#La struttura dati mat rappresenta una matrice, che è una tabella bidimensionale di elementi. In questo caso, è una matrice 3x5 (3 righe e 5 colonne)
#la struttura dati mat è una matrice 3x5, e possiamo accedere agli elementi individuali utilizzando due indici: uno per la riga e uno per la colonna.
elemento_1=mat[0][1] #1
elemento_2=mat[1][1] #6
elemento_3=mat[2][3] #13
print(elemento_1)
print(elemento_2)
print(elemento_3)

1
6
13

In [ ]:
#ESERCIZIO 2:Importiamo il modulo math e proviamo a usare le funzioni .sin() .cos() .factorial() e la variabile .pi la riconoscete?

In [13]:
import math
angolo_rad=math.pi/4
seno=math.sin(angolo_rad)
coseno=math.cos(angolo_rad)
print("seno:",seno)
print("coseno:",coseno)

seno: 0.7071067811865476
coseno: 0.7071067811865476

In [15]:
numero=5
fattoriale=math.factorial(numero)
print("il fattorile di", numero,"è:",fattoriale)

il fattorile di 5 è: 120

In [ ]:
#math.pi ci restituisce il valore di pigreco

In [ ]:
#ESERCIZIO 3:

In [ ]:
#La funzione math.degrees() converte un angolo da radianti a gradi.

In [17]:
import math
risultato=math.degrees(math.pi)
print(risultato)

180.0

In [ ]:
#ESERCIZIO 4:

In [41]:
import numpy as np
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst=np.array(lst)
vendita_massima=np.max(lst)
vendita_minima=np.min(lst)
print("mendita massima mensile:",vendita_massima)
print("vendita minima mensile:",vendita_minima)

mendita massima mensile: 8150
vendita minima mensile: 1280

In [45]:
maggiori_di_4999=lst[lst>4999]
numero_vendite_maggiori_di_4999 = len(maggiori_di_4999)
print("Vendite mensili maggiori di 4999 oggetti:", maggiori_di_4999)
print("Numero di vendite maggiori di 4999 oggetti:", numero_vendite_maggiori_di_4999)

Vendite mensili maggiori di 4999 oggetti: [5500 7200 6410 8150 7100 5350]
Numero di vendite maggiori di 4999 oggetti: 6

In [47]:
vendite_minori_di_3000 = lst[lst < 3000]
print("Vendite mensili minori di 3000 oggetti:", vendite_minori_di_3000)

Vendite mensili minori di 3000 oggetti: [2000 1280 1900 2500]

In [49]:
media_vendite_mensili = np.mean(lst)
print("Media vendite mensili:", media_vendite_mensili)

Media vendite mensili: 4634.166666666667

In [ ]:
#ESERCIZIO 5:

In [51]:
import pandas as pd
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))
fatturato_1997=fatturati_dict[1997]
fatturato_1997_series=fatturati_series[1997]
print(fatturato_1997)
print(fatturato_1997_series)

12000
12000

In [ ]:
#ESERCIZIO 6:

In [70]:
import numpy as np

stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])

# Metodo 1: Utilizzando un ciclo for
stipendi_raddoppiati = np.empty_like(stipendi)  # Creiamo un nuovo array con le stesse dimensioni di stipendi

for i in range(len(stipendi)):
    stipendi_raddoppiati[i] = stipendi[i] * 2

print("Stipendi originali:", stipendi)
print("Stipendi raddoppiati (con ciclo for):", stipendi_raddoppiati)

Stipendi originali: [ 100  200  300  400  500  600  700  800  900 1000]
Stipendi raddoppiati (con ciclo for): [ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [72]:
import numpy as np

stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])

# Metodo 2: Utilizzando masking
stipendi_raddoppiati_masking = stipendi * 2

print("Stipendi originali:", stipendi)
print("Stipendi raddoppiati (con masking):", stipendi_raddoppiati_masking)

Stipendi originali: [ 100  200  300  400  500  600  700  800  900 1000]
Stipendi raddoppiati (con masking): [ 200  400  600  800 1000 1200 1400 1600 1800 2000]